@page {
    size: A4;
    margin: 0;
}

html, body {
    width: 210mm;
    height: 297mm;
    background: gainsboro repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255, 255, 255, .5) 35px, rgba(255, 255, 255, .5) 70px);
}

.container {
    background-color: white;
}