h1 {
    font-size: 40px !important;
    font-weight: bold;
}

h2 {
    font-size: 18px !important;
    font-weight: bold;
}

h3 {
    font-size: 16px !important;
    font-weight: bold;
}

.container {
    padding: 75px !important;
}

.container, p {
    font-size: 14px !important;
}

td {
    font-size: 14px !important;
}

.titlerow {}

.detailrow {
    font-style: italic;
    font-size: 0.8em;
}

p {
    margin-bottom: 20px;
}

.title_list {
    width:100%;
}

.title_list td {
    padding-bottom: 9px;
}