<html>
<link rel="stylesheet" media="all" href="{{resource_path}}/css/style.css"/>
<link rel="stylesheet" media="all" href="{{resource_path}}/css/fullpage.css"/>
<link rel="stylesheet" media="all" href="{{resource_path}}/css/a0_portrait_billboard.css"/>
</html>
<body>
<div class="container theme-showcase" role="main">

    <br />

    <div class="row">
        <div class="col-xs-1">
            &nbsp;
        </div>
        <div class="col-xs-10">
            <br /><br />
            <h1>{{title}}</h1>
            <div style="column-count: 2;">
            {% markdown %}{{ text }}{% endmarkdown %}
            </div>

            {% if huisregels %}
            <h2>Huisregels</h2>
            {% markdown %}{{ huisregels }}{% endmarkdown %}
            {% endif %}

            {% if links %}
            <h2>Meer informatie</h2>
            {% for item in links %}
            <div style="float:left; text-align: center;">
                {{ item.title }}<br />
                <img src="{{resource_path}}/images/{{page_name}}/qr/{{item.title}}.png" width="600" height="600">
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <div class="col-xs-1">
            &nbsp;
        </div>
    </div>
    <br />

</div>
</body>
</html>
