<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" media="all" href="{{resource_path}}/css/style.css"/>
    <link rel="stylesheet" media="all" href="{{resource_path}}/css/main_article.css"/>
    <link rel="stylesheet" media="all" href="{{resource_path}}/css/a4.css"/>
</head>
<body>
<div class="container theme-showcase" role="main">
    <h1>{{title}}</h1>
    <div class="row">
        <div class="col-xs-8">
            <p>
                {% markdown %}{{ text }}{% endmarkdown %}
            </p>
            <p>
                {% markdown %}{{ try_it_out }}{% endmarkdown %}
            </p>
        </div>
        <div class="col-xs-4" style="padding-left: 60px;">
            {%if box %}<img src="{{resource_path}}/images/{{page_name}}/{{box.filename}}" width="100%">{% endif %}
            <img src="{{resource_path}}/images/{{page_name}}/{{main_image.filename}}" width="100%">
            <img src="{{resource_path}}/images/{{page_name}}/{{bootscreen.filename}}" width="100%">
            <h3>Feiten</h3>
            Jaar van uitgave: {{ properties.release_year }}<br />
            Aantal Games: {{ properties.Games }}<br />
            Aantal Demo's: {{ properties["Demo's"] }}<br />
            <h3>Ingrediënten</h3>
            Processor: {{ properties.processor }}<br />
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-4">
            <h2>Toffe games</h2>
            <table class="title_list">
                {% for item in top_games %}
                <tr><td><span class="titlerow">{{ item.rating }} {{ item.title }}</span><br />
                    <span class="detailrow">{{ item.publisher }} {{ item.year }}</span></td></tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-xs-4">
            <h2>Toffe demo's</h2>
            <table class="title_list">
                {% for item in top_demos %}
                <tr><td><span class="titlerow">{{ item.title }} - {{ item.publisher }} </span><br/>
                    <span class="detailrow">{{ item.rating }}</span></td></tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-xs-4">
            <h2>Toffe nieuwe games</h2>
            <table class="title_list">
                {% for item in top_new_games %}
                <tr><td><span class="titlerow">{{ item.title }} - {{ item.publisher }} </span><br/>
                    <span class="detailrow">{{ item.year }}</span></td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12">
                <h3>Meer informatie</h3>
            {% for item in links %}
            <div style="float:left; text-align: center;">
                {{ item.title }}<br />
                <img src="{{resource_path}}/images/{{page_name}}/qr/{{item.title}}.png" width="60">
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
