<html>
<link rel="stylesheet" media="all" href="{{resource_path}}/css/style.css"/>
<link rel="stylesheet" media="all" href="{{resource_path}}/css/fullpage.css"/>
</html>
<body>
<div class="container theme-showcase" role="main">
    <h1>{{title}}</h1>
    <br />
    <div class="row">
        <div class="col-xs-8">
            <p>
                {% markdown %}{{ text }}{% endmarkdown %}
            </p>
        </div>
        <div class="col-xs-4" style="padding-left: 60px;">
            <img src="{{resource_path}}/images/{{page_name}}/{{main_image.filename}}" width="100%">
            Schema's.
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12">
            <h2>Meer informatie</h2>
            {% for item in links %}
            <div style="float:left; text-align: center;">
                {{ item.title }}<br />
                <img src="{{resource_path}}/images/{{page_name}}/qr/{{item.title}}.png" width="600" height="600">
            </div>
            {% endfor %}
        </div>
    </div>

</div>
</body>
</html>
